body{
    background: url(https://i.pinimg.com/originals/66/be/79/66be7922881ea8c3bcb1bd40ba12a797.jpg) fixed center;

}

.box{
    
    margin: 30px;
    position:relative;
    width: fit-content;
    padding: 50px;
    background: rgba(135, 77, 158, 0.733);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    
}

p{
    color: aliceblue;
}

h1
{
    text-decoration-style: wavy;
    color: rgba(249, 250, 251, 0.986);
    text-shadow: 3px 3px 7px rgb(224, 161, 224);
}