
body{
    margin:0;
    padding:0;

	/* background-color:lightseagreen; */
	background-color:burlywood;
    
}
.poems-container{
    font-family: sans-serif;
    width:100%;
    height:200%;
    display: block;
    position:absolute;
    background-color:darksalmon;
    
    
}
.list-container{
     content: '';
	/* position: absolute; */
	left:10px;
	top: 20px;
	/* border-left: 6px solid transparent; */
    text-decoration-color: darksalmon;
    text-decoration-style: solid;
    text-justify: auto;

}

.life{
color:black;
margin: 20px;
text-align:center;
padding:20px;
border:15px solid white;
}
.navbar
{
    max-width:1600px;
    background-color:lightcoral;
    padding:15px;
}
.navbar:container{
    max-width:1600px;
    max-height:1000;
    border:15px solid white;
    background-color:blueviolet;
    padding:15px;
}
.Motivational-container{
	/* font-family: sans-serif; */
    width:100%;
    height:60%;
    display: block;
	background:lightsalmon fixed center;
	text-align:center;
    border:10px solid white;
}
.struggle-container{
	width:100%;
    height:60%;
    display: block;
	background:cornflowerblue  fixed center;
	text-align:center;
    margin: 100px 0 0 0;
    border:10px solid white;
    

}
.self-love{
	width:100%;
    height:60%;
    display: block;
	text-align:center;

}
.love{
    width:100%;
    height:60%;
    display: block;
	text-align:center;
    
    
}
.class-container{
	width:100%;
    height:100%;
    display:block;
	background:darkseagreen  fixed center;
	text-align:center;
    border:10px solid white;
    margin: 50px 0 0 0;
}




